<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <h1>Contact Us</h1>
  <body>

  
  <body background="images/tree2.jpg">

    <div class="info">
      <div class="more"><br>Email: zrezaee@myseneca.ca<br><br>Address: 1750 Finch Ave E, North York, ON M2J 2X5 <br><br>Phone: (416)491-5050<br></div>
    </div>
  <div class="container">
    <embed src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11519.534191538492!2d-79.3485918!3d43.7960294!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d31babbf5ce7%3A0x5812aa25d9fb9912!2sSeneca%20College%20Newnham%20Campus!5e0!3m2!1sen!2sca!4v1664304103956!5m2!1sen!2sca" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></embed>
  </div>

  <div class="navbar"
  <nav>
    <a href="./">Homepage</a> 
    <br>
    <a href="./booksList">Books</a> 
    <br>
    
    <a href="./contact">Contact Us</a>
    <br>
    <a href="./survey">Survey</a>
    <br>
    <a href="./honesty">Honesty</a>
    <br>
    </nav>
  </div>
</body>
</html>