<!DOCTYPE html>
<html>
  <head>
    <title>Honesty</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <h1>Honesty</h1>
  <body background="images/tree2.jpg">

  <div class="container">
    <div class="wel"><br><br><br><br><br><br><br><br> “ I declare that this assignment is my own work in accordance with
        Seneca Academic Policy. <br>No part of this assignment has been copied
        manually <br>or electronically from any other source (including web sites)
        or distributed to other students.
        <br><br>
        Name: Zahra Rezaee
        <br>
        Student ID: 105654198
        <br>
        Date: December 1st, 2022</div>
  </div>

  <div class="navbar"
  <nav>
    <a href="./">Homepage</a> 
    <br>
    <a href="./booksList">Books</a> 
    <br>
    
    <a href="./contact">Contact Us</a>
    <br>
    <a href="./survey">Survey</a>
    <br>
    <a href="./honesty">Honesty</a>
    <br>
    </nav>
  </div>

  </body>

  

</html>