<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">


  </head>
  <h1>Welcome</h1>
  <body background="images/tree2.jpg">

  <div class="container">
    <div class="wel"><br><br><br><br><br><br><br> Hello. <br> <br> Welcome to my first website. <br><br>Click on the links on the left side of this <br>page to be redirected to appropriate pages. <br> <br> Thank you!</div>
  </div>

  <div class="navbar"
    <nav>
    <a href="./">Homepage</a> 
    <br>
    <a href="./booksList">Books</a> 
    <br>
    
    <a href="./contact">Contact Us</a>
    <br>
    <a href="./survey">Survey</a>
    <br>
    <a href="./honesty">Honesty</a>
    <br>
    </nav>
  </div>

  </body>

  

</html>