<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERROR</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
  <div class="navbar"
  <nav>
    <a href="./">Homepage</a> 
    <br>
    <a href="./booksList">Books</a> 
    <br>
    
    <a href="./contact">Contact Us</a>
    <br>
    <a href="./survey">Survey</a>
    <br>
    <a href="./honesty">Honesty</a>
    <br>
    </nav>
  </div>

    <div style="flex-direction: column; display: flex; justify-content: center; align-items: center;">
      <h1>ERROR</h1>
      <p>Page not found</p>
      <p>Click <a href="/">here</a> to go back to the homepage</p>
    </div>

  </body>
</html>
