<!DOCTYPE html>
<html>
  <head>
    <title>Survey</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <h1>Survey</h1>
  <body background="images/tree2.jpg">
    <form action="index.html" method="get">
        <label>Name</label><input type="text" name="Name" required="required">
        <br>
        <br>
        <br>
        <label>Date of Birth</label><input type="date" name="DOB" required="required">
        <br>
        <br>
        <br>
        <label>How likely would <br>you recommend <br>this
            library to your <br>family and friends?</label>

            
            <input type="radio" value="yes" id="verylikely" name="rating" required>
            <label for="verylikely">Very Likely</label>

            <input type="radio" id="maybe" value="somewhatlikely" name="rating" required>
            <label for="somewhat">Somewhat Likely</label>

            <input type="radio" id="notlikely" value="no" name="rating" required>
            <label for="notlikely">Not Likely</label>

            <br />


            <input type="submit" value="Submit">

    </form>


   <div class="navbar"
   <nav>
    <a href="./">Homepage</a> 
    <br>
    <a href="./booksList">Books</a> 
    <br>
    
    <a href="./contact">Contact Us</a>
    <br>
    <a href="./survey">Survey</a>
    <br>
    <a href="./honesty">Honesty</a>
    <br>
    </nav>
  </div>
  

</html>