body {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  width: 15%;
  background-color: rgb(209, 247, 248);
  position: fixed;
  height: 100%;
  background-image: url('../images/photo-1568667256549-094345857637.jpg');
  background-position: center;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 18px 12px;
  text-decoration: none;
  font-size: medium;
}

li a.active {
  background-color: #4caf50;
  color: black;
  font-size: medium;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
  font-size: medium;
}
